nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: 600;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #0074D9;
}
label {
    font-weight: bold;
}

.btn {
    display: inline-block;
}

.icons {
    border-radius: 20px;
    margin-bottom: 15px;
}

figcaption  {
    text-align:center;
}

.flex-container {
    display:flex;
}



.zolochiv {
    color: #D91E16;
    font-family: cursive;
    font-style: italic
    padding:40px;
}

main {
    text-align:center;
}
