{% extends "layout.html" %}

{% block title %}Text Language Generator{% endblock %}

{% block main %}
    <h1 name="header" class="mb-5">Text Abbreviations Generator</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ">
            <form method="post">
                <input type="text" name="new-abbreviation" class="form-control mb-2"  placeholder="New Text Abbreviation">
                <input type="text" name="abbreviation-meaning" class="form-control mb-2" placeholder="Text Abbreviation meaning">
                <button type="submit" name="subbmit_button" value="Add" class="btn btn-warning mb-2">Add Text Abbreviation</button>
                <button type="submit" name="subbmit_button" value="Show" class="btn btn-primary mb-2">Show All Text Abbreviations</button>
            </form>
        </div>
        <div class="col-xs-12 col-sn-12 col-md-12 col-lg-6">
            <form method="post">
                <input type="text" name="random_abb" class="form-control mb-2" value="{{random_abbreviation}}" placeholder="Generate or type Text Abbreviation">
                <button type="submit" name="subbmit_button" value="Generate" class="btn btn-success mb-2">Generate Text Abbreviation</button>
                <button type="submit" name="subbmit_button" value="Meaning" class="btn btn-primary mb-2">Show meaning</button>
            </form>
            <h4><span class="meaning">Meaning:</span>> {{meaning}}</h4>
        </div>
    </div>
    <div>
        <table class="table table-stripped mt-4" style="font-size: 20px;">
            <thead>
                <th>Text Abbreviations</th>
                <th>Meaning</th>
            </thead>
            <tbody>
                {% for abb in abbreviations %}
                    <tr>
                        <td>{{abb.abbreviation}}</td>
                        <td>{{abb.meaning}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}