{% extends "layout.html" %}


{% block main %}
    <h1 class="mb-5">English Speaking Club <span class="zolochiv">Zolochiv</span></h1>
    <div class="flex-container">
        <div class="activity">
            <figure>
                <a href="/debate-topic" target="_blank" rel="noopener">
                    <img class="icons" src="/static/images/debate-topic.png" alt="Debate Topic Generator" width="260" height="200">
                </a>
                <figcaption>
                    <a href="/debate-topic" target="_blank" rel="noopener">Debate Topic Generator</a>
                </figcaption>
            </figure>

        </div>
        <div class="activity">
            <figure>
                <a href="/role-play" target="_blank" rel="noopener">
                    <img class="icons" src="/static/images/role-play.png" alt="Role Play Generator" width="260" height="200">
                </a>
                <figcaption>
                    <a href="/role-play" target="_blank" rel="noopener">Role Play Generator</a>
                </figcaption>
            </figure>
        </div>

    </div>



{% endblock %}
