{% extends "layout.html" %}


{% block main %}
    <h1 class="mb-5">English Speaking Club <span class="zolochiv">Zolochiv</span></h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 activity text-center">
              <figure>
                  <a href="/debate-topic" target="_blank" rel="noopener">
                      <img class="icons" src="/static/images/debate-topic.jpg" alt="Debate Topic Generator" width="200" height="154">
                  </a>
                  <figcaption>
                      <a href="/debate-topic" target="_blank" rel="noopener">Debate Topic Generator</a>
                  </figcaption>
              </figure>
        </div>
        <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 activity text-center">
            <figure>
                <a href="/role-play" target="_blank" rel="noopener">
                    <img class="icons" src="/static/images/role-play.jpg" alt="Role Play Generator" width="200" height="154">
                </a>
                <figcaption>
                    <a href="/role-play" target="_blank" rel="noopener">Role Play Generator</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 activity text-center">
            <figure>
                <a href="/box-of-lies" target="_blank" rel="noopener">
                    <img class="icons" src="/static/images/box-of-lies.jpg" alt="Box Of Lies" width="200" height="154">
                </a>
                <figcaption>
                    <a href="/box-of-lies" target="_blank" rel="noopener">Box Of Lies</a>
                </figcaption>
            </figure>
        </div>
    </div>



{% endblock %}
