{% extends "layout.html" %}

{% block title%}All topics{% endblock %}

{% block main %}
    <h1>All topics</h1>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Topic</th>
                <th>Category</th>
                <th>A</th>
            </thead>
            <tbody>
                {% for topic in topics %}
                    <tr>
                        <td>{{topic.topic}}</td>
                        <td>{{topic.category}}</td>
                        <td><a class="btn btn-danger"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}